data-sports/sports.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:simpleType name="enumOuiNon">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Oui" />
		<xsd:enumeration value="Non" />		
	</xsd:restriction>
</xsd:simpleType>

<xsd:element name="sport">
	<xsd:complexType>
		<xsd:attribute name="nom" type="xsd:string" use="required" />
		<xsd:attribute name="collectif" type="enumOuiNon" use="required" />
	</xsd:complexType>
</xsd:element>

</xsd:schema>